<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Categories</h1>
  <%= link_to "New Category", new_category_path, class: "btn btn-primary" %>
</div>

<div id="categories">
  <% if @categories.any? %>
    <div class="row">
      <% @categories.each do |category| %>
        <div class="col-md-4 mb-4">
          <%= render category %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="alert alert-info">
      No categories found. Create your first category!
    </div>
  <% end %>
</div>
